<h1>SHA-256</h1>
<p>原文：</p>
<textarea name="sha256" placeholder="输入原文" oninput={sha256} class="text"></textarea>
<p>结果：</p>
<textarea name="result" novalidate class="result" readonly spellcheck=false>{result}</textarea>
<div class="btns">
  <button data-for={$.btns,len} data-clipboard-text={result.substr(0,len)}>
    { len !== 64 ? '复制前 ' + len + ' 位' : '复 制 结 果' }
  </button>
</div>

<script>
  const shaurl = 'https://cdn.jsdelivr.net/npm/js-sha256@0.9.0/src/sha256.min.js'
  const copyurl = 'https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js'

  export default {
    data: {
      btns: [8, 16, 20, 32, 64]
    },
    state: {
      result: '',
      sha256 (evt) {
        const value = evt.target.value
        if (!window.ClipboardJS) {
          window.loadScript(copyurl).then(() => {
            new window.ClipboardJS('[data-clipboard-text]') // eslint-disable-line
          })
        }
        if (value) {
          Promise.resolve(window.sha256 || window.loadScript(shaurl)).then(() => {
            this.result = window.sha256(value)
          })
        } else {
          this.result = ''
        }
      }
    }
  }
</script>

<style scoped>
textarea {
  width: 96%;
  display: block;
  margin: 20px auto;
  padding: 15px 20px;
  box-sizing: border-box;
}
.result {
  height: 4em;
  padding: 6px 10px;
  width: 96%;
}
button {
  padding: 5px 15px;
  background-color: rgb(172, 107, 233);
  color: white;
  cursor: pointer;
  border: 0 none;
  margin: 5px 20px;
  border-radius: 2px;
}
p {
  margin: 0px 0;
}
.btns {
  display: flex;
  flex-direction: column;
}
</style>