img {
  display: inline-block;
  object-fit: contain;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}

html, body, #root {
  height: 100%;
}

body {
  border-top: 6px solid var(--theme-color);
}

#root {
  color: #555;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  #root {
    padding: 0 40px;
  }
}

@media screen and (max-width: 340px) {
  #root {
    padding: 0 20px;
  }
}