img {
  display: inline-block;
  object-fit: contain;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}

html, body, #root {
  height: 100%;
}

body {
  border-top: 6px solid var(--theme-color);
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,234,187,1) 23%, rgba(204,215,255,1) 38%, rgba(213,255,185,1) 52%, rgba(255,205,205,1) 65%, rgba(255,247,197,1) 77%, rgba(255,255,255,1) 100%);
}

#root {
  color: #555;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  #root {
    padding: 0 40px;
  }
}

@media screen and (max-width: 340px) {
  #root {
    padding: 0 20px;
  }
}